// 
// Masthead
// 



header.masthead {
    position: relative;
    background: url('../assets/img/geom.png') no-repeat center center;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 30rem;

    &:before {
        content: '';
        position: absolute;
        background-color: $primary;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
    }

    // h1 {
    //     font-size: 1rem;
    // }

    p {
        line-height: 30px;
        font-style: italic;
        size: 20px;
        font-weight: 400;
    }


    i.fas.fa-university {
        font-size: 70px;
    }

    @media (min-width: 768px) {
        padding-top: 6rem;
        padding-bottom: 6rem;

        // h1 {
        //     font-size: 3rem;
        // }
    }
}

i.fas.fa-quote-left {
    font-size: 30px;
}